/dev/vr                   0666   system     system
/dev/nx_vpu               0666   system     system

# ion
/dev/ion                  0666   system     system

# UART
/dev/ttyAMA0              0666   system     system

# I2C
/dev/i2c-0                0666   system     system
/dev/i2c-1                0666   system     system
/dev/i2c-2                0666   system     system

$ Media
/dev/media0               0666   system     system

# sw sync
/dev/sw_sync              0666   system     system

